@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-in-out;
    background-color: #ecf1ff;
}

/* Outer Div Styling */
.outer-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 28px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgb(198, 213, 253);
    margin: 20px;
}

/* Heading Style */
.heading{
    font-weight: 700;
}

/* Table Content Styling */
table{
    border-collapse: collapse;
    font-weight: 700;

}

td.cell{
    border: 1px solid rgb(168, 168, 168);
}

.cell{
    padding: 2rem;
}

.box{
    width: 8rem;
    height: 5rem;
    background-color: tomato;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: move;
}

.cell-item{
    user-select: none;
}

.cell.hovered{
    background-color: rgb(230, 230, 230);
}

.is-dragging{
    opacity: 0.8;
    scale: 1.05;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25) ;
}

/* Controls Section Styling */
.controls{
    width: 100%;
    text-align: center;
}

.undo{
    margin-bottom: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #FCCD3E;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.24);
    color: #262626;
    font-size: 18px;
    font-weight: 700;
    transition: all 300ms ease-in-out;
}

.undo:hover{
    scale: 1.05;
}

.note{
    font-size: 14px;
    color: #999;
}
